<main class="index">
  <header class="bg-image d-flex">
      <link rel="icon" type="image/png" href="../../public/img/logoec.png">
    <div class="text-center m-auto p-5 bg-dark">
      <h1 class="mb-1 display-1">Easy Class</h1>
      <h3 class="mb-5">
        <em>Tu sitio favorito para aprender desde casa, ingresa a una cantidad variada de Cursos tan solo dando clic</em>
      </h3>
      <a class="btn btn-primary btn-lg" href="/signin">
        Que estás esperando, ingresa y aprende!
      </a>
    </div>
    <div class="overlay"></div>
  </header>
</main>