<div class="container p-4 h-100">
  <div class="row h-75 d-flex align-items-center">
    <div class="col-md-4 mx-auto">
      <div class="card bg-dark text-center"> <!-- Añadí la clase text-center para centrar el contenido -->
        <div class="card-body"> <!-- Añadido para estructurar mejor el contenido dentro de la card -->
          <p style="color: white;">No tiene permiso para estar en este apartado.</p>
          <!-- Botón para regresar a la página anterior -->
          <button onclick="history.back()" class="btn btn-primary">Regresar</button>
        </div>
      </div>
    </div>
  </div>
</div>
