<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card bg-dark border border-dark">
        <div class="card-body">
          <form action="/links/edit/{{link.id}}" method="POST">
            <div class="form-group">
              <h4 style="color: #ae5920; font-family: 'Tinos', serif;">Ingresa el Nuevo Título del Curso</h4>
              <input
                type="text"
                name="title"
                class="form-control bg-dark text-light"
                placeholder="Titulo"
                value="{{link.title}}"
                autofocus
              />
            </div><br>
            <div class="form-group">
              <h4 style="color: #ae5920; font-family: 'Tinos', serif;">Ingresa el Nuevo Link del Curso</h4>
              <input
                type="url"
                name="url"
                class="form-control bg-dark text-light"
                placeholder="URL"
                value="{{link.url}}"
              />
            </div><br>
            <div class="form-group">
              <h4 style="color: #ae5920; font-family: 'Tinos', serif;">Ingresa la Nueva Descripción del Curso</h4>
              <textarea
                name="description"
                rows="2"
                class="form-control bg-dark text-light"
                placeholder="Descripción"
              >{{link.description}}</textarea>
            </div><br><center>
            <div class="form-group">
              <button class="btn btn-success btn-block">
                Guardar
              </button>
            </div></center>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
